body{
  background-color:#b9cfad;
}

.header{
  position: absolute;
  top: 0;
  background-color: #9abca7;
  height: 10vh;
  width: 100vw;
}

.title{
  font-family: 'Sansita Swashed';
  font-size: 3 em;
  text-align: center;
  
}


