body{
  background-color:#b9cfad;
  overflow: hidden;
}

.header{
  position: absolute;
  top: 0;
  background-color: #9abca7;
  height: 15vh;
  width: 100vw;
  font-size: 2.5rem; 
}

.title{
  font-family: 'Sansita Swashed';
  text-align: center;
  position:relative;
  top: -3vh;
}

.main{
  position: absolute;
  left: 5vw;
  top: 15vh;
  width: 90%;
  height: 84%;
  display: flex;
  justify-content: center;  
  align-items: center;  
}

.startButton{
  top: 40vh;
  font-size: 2.2rem;
  font-family: 'PT Serif';
  margin: 10px;
  background-color: #c6e2ff;
  border-radius: 30px;
  border: 3px solid black;
  padding: 1rem;
  transition-duration: 0.2s;
}

.startButton:hover{
  background-color: #9bddff;
}

.stopButton{
  top: 40vh;
  font-size: 2.2rem;
  font-family: 'PT Serif';
  margin: 10px;
  background-color: #c6e2ff;
  border-radius: 30px;
  border: 3px solid black;
  padding: 1rem;
  transition-duration: 0.2s;
}

.stopButton:hover{
  background-color: #9bddff;
}


